.project{

    width: 100%;
    min-height: 100vh;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(250, 249, 249, 0.98);

}

.project-container{
    display: flex;
    flex-direction: column;
    width:100%;
    /* border:3px solid red; */
    padding: 20px;
}



.project-sub{
    color: #363A45;
    font-size: 20px;
    margin-bottom: 10px;
}

.project-title{
    color: #6674CC;
    font-size: 32px;
    margin-bottom: 15px; 
    font-weight: 600;
}

@media screen and (max-width:650px) {

    .project-container{
        min-width: 100%;
    }

   }
